In [1]:
import pandas as pd
pd.__version__

'0.24.2'

In [2]:
pd.read_csv("../data/gapminder.tsv", sep = '\t') #here for tsv we need to use sep as '\t'

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
1     Afghanistan      Asia  1957   30.332   9240934   820.853030
2     Afghanistan      Asia  1962   31.997  10267083   853.100710
3     Afghanistan      Asia  1967   34.020  11537966   836.197138
4     Afghanistan      Asia  1972   36.088  13079460   739.981106
5     Afghanistan      Asia  1977   38.438  14880372   786.113360
6     Afghanistan      Asia  1982   39.854  12881816   978.011439
7     Afghanistan      Asia  1987   40.822  13867957   852.395945
8     Afghanistan      Asia  1992   41.674  16317921   649.341395
9     Afghanistan      Asia  1997   41.763  22227415   635.341351
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
11    Afghanistan      Asia  2007   43.828  31889923   974.580338
12        Albania    Europe  1952   55.230   1282697  1601.056136
13        Albania    Europe  1957   59.280   1476505  1942.284244
14        Albania    Europe  1962   64.820   1728137  2312.888958
15        Albania    Europe  1967   66.220   1984060  2760.196931
16        Albania    Europe  1972   67.690   2263554  3313.422188
17        Albania    Europe  1977   68.930   2509048  3533.003910
18        Albania    Europe  1982   70.420   2780097  3630.880722
19        Albania    Europe  1987   72.000   3075321  3738.932735
20        Albania    Europe  1992   71.581   3326498  2497.437901
21        Albania    Europe  1997   72.950   3428038  3193.054604
22        Albania    Europe  2002   75.651   3508512  4604.211737
23        Albania    Europe  2007   76.423   3600523  5937.029526
24        Algeria    Africa  1952   43.077   9279525  2449.008185
25        Algeria    Africa  1957   45.685  10270856  3013.976023
26        Algeria    Africa  1962   48.303  11000948  2550.816880
27        Algeria    Africa  1967   51.407  12760499  3246.991771
28        Algeria    Africa  1972   54.518  14760787  4182.663766
29        Algeria    Africa  1977   58.014  17152804  4910.416756
...           ...       ...   ...      ...       ...          ...
1674  Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906
1680       Zambia    Africa  1952   42.038   2672000  1147.388831
1681       Zambia    Africa  1957   44.077   3016000  1311.956766
1682       Zambia    Africa  1962   46.023   3421000  1452.725766
1683       Zambia    Africa  1967   47.768   3900000  1777.077318
1684       Zambia    Africa  1972   50.107   4506497  1773.498265
1685       Zambia    Africa  1977   51.386   5216550  1588.688299
1686       Zambia    Africa  1982   51.821   6100407  1408.678565
1687       Zambia    Africa  1987   50.821   7272406  1213.315116
1688       Zambia    Africa  1992   46.100   8381163  1210.884633
1689       Zambia    Africa  1997   40.238   9417789  1071.353818
1690       Zambia    Africa  2002   39.193  10595811  1071.613938
1691       Zambia    Africa  2007   42.384  11746035  1271.211593
1692     Zimbabwe    Africa  1952   48.451   3080907   406.884115
1693     Zimbabwe    Africa  1957   50.469   3646340   518.764268
1694     Zimbabwe    Africa  1962   52.358   4277736   527.272182
1695     Zimbabwe    Africa  1967   53.995   4995432   569.795071
1696     Zimbabwe    Africa  1972   55.635   5861135   799.362176
1697     Zimbabwe    Africa  1977   57.674   6642107   685.587682
1698     Zimbabwe    Africa  1982   60.363   7636524   788.855041
1699     Zimbabwe    Africa  1987   62.351   9216418   706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340   693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948   792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563   672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143   469.709298

[1704 rows x 6 columns]

In [3]:
df = pd.read_csv("../data/gapminder.tsv",sep='\t')

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.shape

(1704, 6)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [7]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [8]:
df.head(10)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [9]:
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [10]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [11]:
df.columns[0]

'country'

In [12]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [13]:
df.values  #numpy array

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.331999999999997, 9240934,
        820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.1007099999999],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499602999999],
       ['Zimbabwe', 'Africa', 2002, 39.989000000000004, 11926563,
        672.0386227000001],
       ['Zimbabwe', 'Africa', 2007, 43.486999999999995, 12311143,
        469.70929810000007]], dtype=object)

In [14]:
df1 = pd.read_csv("../data/gapminder.tsv",sep = '\t',na_values=[1952])  #here it will treat 1952 value as missing NaN value 
df1

          country continent    year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia     NaN   28.801   8425333   779.445314
1     Afghanistan      Asia  1957.0   30.332   9240934   820.853030
2     Afghanistan      Asia  1962.0   31.997  10267083   853.100710
3     Afghanistan      Asia  1967.0   34.020  11537966   836.197138
4     Afghanistan      Asia  1972.0   36.088  13079460   739.981106
5     Afghanistan      Asia  1977.0   38.438  14880372   786.113360
6     Afghanistan      Asia  1982.0   39.854  12881816   978.011439
7     Afghanistan      Asia  1987.0   40.822  13867957   852.395945
8     Afghanistan      Asia  1992.0   41.674  16317921   649.341395
9     Afghanistan      Asia  1997.0   41.763  22227415   635.341351
10    Afghanistan      Asia  2002.0   42.129  25268405   726.734055
11    Afghanistan      Asia  2007.0   43.828  31889923   974.580338
12        Albania    Europe     NaN   55.230   1282697  1601.056136
13        Albania    Europe  1957.0   59.280   1476505  1942.284244
14        Albania    Europe  1962.0   64.820   1728137  2312.888958
15        Albania    Europe  1967.0   66.220   1984060  2760.196931
16        Albania    Europe  1972.0   67.690   2263554  3313.422188
17        Albania    Europe  1977.0   68.930   2509048  3533.003910
18        Albania    Europe  1982.0   70.420   2780097  3630.880722
19        Albania    Europe  1987.0   72.000   3075321  3738.932735
20        Albania    Europe  1992.0   71.581   3326498  2497.437901
21        Albania    Europe  1997.0   72.950   3428038  3193.054604
22        Albania    Europe  2002.0   75.651   3508512  4604.211737
23        Albania    Europe  2007.0   76.423   3600523  5937.029526
24        Algeria    Africa     NaN   43.077   9279525  2449.008185
25        Algeria    Africa  1957.0   45.685  10270856  3013.976023
26        Algeria    Africa  1962.0   48.303  11000948  2550.816880
27        Algeria    Africa  1967.0   51.407  12760499  3246.991771
28        Algeria    Africa  1972.0   54.518  14760787  4182.663766
29        Algeria    Africa  1977.0   58.014  17152804  4910.416756
...           ...       ...     ...      ...       ...          ...
1674  Yemen, Rep.      Asia  1982.0   49.113   9657618  1977.557010
1675  Yemen, Rep.      Asia  1987.0   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992.0   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997.0   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002.0   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007.0   62.698  22211743  2280.769906
1680       Zambia    Africa     NaN   42.038   2672000  1147.388831
1681       Zambia    Africa  1957.0   44.077   3016000  1311.956766
1682       Zambia    Africa  1962.0   46.023   3421000  1452.725766
1683       Zambia    Africa  1967.0   47.768   3900000  1777.077318
1684       Zambia    Africa  1972.0   50.107   4506497  1773.498265
1685       Zambia    Africa  1977.0   51.386   5216550  1588.688299
1686       Zambia    Africa  1982.0   51.821   6100407  1408.678565
1687       Zambia    Africa  1987.0   50.821   7272406  1213.315116
1688       Zambia    Africa  1992.0   46.100   8381163  1210.884633
1689       Zambia    Africa  1997.0   40.238   9417789  1071.353818
1690       Zambia    Africa  2002.0   39.193  10595811  1071.613938
1691       Zambia    Africa  2007.0   42.384  11746035  1271.211593
1692     Zimbabwe    Africa     NaN   48.451   3080907   406.884115
1693     Zimbabwe    Africa  1957.0   50.469   3646340   518.764268
1694     Zimbabwe    Africa  1962.0   52.358   4277736   527.272182
1695     Zimbabwe    Africa  1967.0   53.995   4995432   569.795071
1696     Zimbabwe    Africa  1972.0   55.635   5861135   799.362176
1697     Zimbabwe    Africa  1977.0   57.674   6642107   685.587682
1698     Zimbabwe    Africa  1982.0   60.363   7636524   788.855041
1699     Zimbabwe    Africa  1987.0   62.351   9216418   706.157306
1700     Zimbabwe    Africa  1992.0   60.377  10704340   693.420786
1701     Zimbabwe    Africa  1997.0   46.809  11404948   792.449960
1702     Zimbabwe    Africa  2002.0   39.989  11926563   672.038623
1703     Zimbabwe    Africa  2007.0   43.487  12311143   469.709298

[1704 rows x 6 columns]

Looking at columns  in data

In [15]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [16]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [17]:
country = df['country']
country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
6       Afghanistan
7       Afghanistan
8       Afghanistan
9       Afghanistan
10      Afghanistan
11      Afghanistan
12          Albania
13          Albania
14          Albania
15          Albania
16          Albania
17          Albania
18          Albania
19          Albania
20          Albania
21          Albania
22          Albania
23          Albania
24          Algeria
25          Algeria
26          Algeria
27          Algeria
28          Algeria
29          Algeria
           ...
1674    Yemen, Rep.
1675    Yemen, Rep.
1676    Yemen, Rep.
1677    Yemen, Rep.
1678    Yemen, Rep.
1679    Yemen, Rep.
1680         Zambia
1681         Zambia
1682         Zambia
1683         Zambia
1684         Zambia
1685         Zambia
1686         Zambia
1687         Zambia
1688         Zambia
1689         Zambia
1690         Zambia
1691         Zambia
1692       Zimbabwe
1693       Zimbabwe
1694       Zimbabwe
1695       Zimbabwe
1696       Zimbabwe
1697       Zimbabwe
1698       Zimbabwe
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [18]:
type(country)  #this will give result in series format

pandas.core.series.Series

In [19]:
#for mult selection of columm we can use df[["","",""]] 
mul_col= df[['country','year']]
mul_col

          country  year
0     Afghanistan  1952
1     Afghanistan  1957
2     Afghanistan  1962
3     Afghanistan  1967
4     Afghanistan  1972
5     Afghanistan  1977
6     Afghanistan  1982
7     Afghanistan  1987
8     Afghanistan  1992
9     Afghanistan  1997
10    Afghanistan  2002
11    Afghanistan  2007
12        Albania  1952
13        Albania  1957
14        Albania  1962
15        Albania  1967
16        Albania  1972
17        Albania  1977
18        Albania  1982
19        Albania  1987
20        Albania  1992
21        Albania  1997
22        Albania  2002
23        Albania  2007
24        Algeria  1952
25        Algeria  1957
26        Algeria  1962
27        Algeria  1967
28        Algeria  1972
29        Algeria  1977
...           ...   ...
1674  Yemen, Rep.  1982
1675  Yemen, Rep.  1987
1676  Yemen, Rep.  1992
1677  Yemen, Rep.  1997
1678  Yemen, Rep.  2002
1679  Yemen, Rep.  2007
1680       Zambia  1952
1681       Zambia  1957
1682       Zambia  1962
1683       Zambia  1967
1684       Zambia  1972
1685       Zambia  1977
1686       Zambia  1982
1687       Zambia  1987
1688       Zambia  1992
1689       Zambia  1997
1690       Zambia  2002
1691       Zambia  2007
1692     Zimbabwe  1952
1693     Zimbabwe  1957
1694     Zimbabwe  1962
1695     Zimbabwe  1967
1696     Zimbabwe  1972
1697     Zimbabwe  1977
1698     Zimbabwe  1982
1699     Zimbabwe  1987
1700     Zimbabwe  1992
1701     Zimbabwe  1997
1702     Zimbabwe  2002
1703     Zimbabwe  2007

[1704 rows x 2 columns]

In [20]:
type(mul_col) #dataframes contains more than one series of object. and eacch series object is one column

pandas.core.frame.DataFrame

Looking at rows in our data

In [21]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [22]:
df.loc[2]

country      Afghanistan
continent           Asia
year                1962
lifeExp           31.997
pop             10267083
gdpPercap        853.101
Name: 2, dtype: object

In [23]:
type(df.loc[2])

pandas.core.series.Series

In [24]:
df.loc[-1] #we cant use index other than it is defined from dataframes

KeyError: -1

In [25]:
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [26]:
df.iloc[-1]  #we can do that using iloc method

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [27]:
df.loc[[0,1,4]]

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [28]:
df.iloc[[-1,-3,-4]]

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786

sunsetting rows and columns

In [29]:
df.loc[ : , ['year', 'pop']]

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
5     1977  14880372
6     1982  12881816
7     1987  13867957
8     1992  16317921
9     1997  22227415
10    2002  25268405
11    2007  31889923
12    1952   1282697
13    1957   1476505
14    1962   1728137
15    1967   1984060
16    1972   2263554
17    1977   2509048
18    1982   2780097
19    1987   3075321
20    1992   3326498
21    1997   3428038
22    2002   3508512
23    2007   3600523
24    1952   9279525
25    1957  10270856
26    1962  11000948
27    1967  12760499
28    1972  14760787
29    1977  17152804
...    ...       ...
1674  1982   9657618
1675  1987  11219340
1676  1992  13367997
1677  1997  15826497
1678  2002  18701257
1679  2007  22211743
1680  1952   2672000
1681  1957   3016000
1682  1962   3421000
1683  1967   3900000
1684  1972   4506497
1685  1977   5216550
1686  1982   6100407
1687  1987   7272406
1688  1992   8381163
1689  1997   9417789
1690  2002  10595811
1691  2007  11746035
1692  1952   3080907
1693  1957   3646340
1694  1962   4277736
1695  1967   4995432
1696  1972   5861135
1697  1977   6642107
1698  1982   7636524
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [30]:
df.loc[[0,10,100],['year','pop']]

     year       pop
0    1952   8425333
10   2002  25268405
100  1972  70759295

In [31]:
df['country'] == "Zimbabwe"

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1674    False
1675    False
1676    False
1677    False
1678    False
1679    False
1680    False
1681    False
1682    False
1683    False
1684    False
1685    False
1686    False
1687    False
1688    False
1689    False
1690    False
1691    False
1692     True
1693     True
1694     True
1695     True
1696     True
1697     True
1698     True
1699     True
1700     True
1701     True
1702     True
1703     True
Name: country, Length: 1704, dtype: bool

In [32]:
df.loc[df['country'] == "Zimbabwe"]

       country continent  year  lifeExp       pop   gdpPercap
1692  Zimbabwe    Africa  1952   48.451   3080907  406.884115
1693  Zimbabwe    Africa  1957   50.469   3646340  518.764268
1694  Zimbabwe    Africa  1962   52.358   4277736  527.272182
1695  Zimbabwe    Africa  1967   53.995   4995432  569.795071
1696  Zimbabwe    Africa  1972   55.635   5861135  799.362176
1697  Zimbabwe    Africa  1977   57.674   6642107  685.587682
1698  Zimbabwe    Africa  1982   60.363   7636524  788.855041
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [33]:
df.loc[(df['country'] == "Zimbabwe") & (df['year']>1990)]

       country continent  year  lifeExp       pop   gdpPercap
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [34]:
df.loc[df['country'] == "Zimbabwe" & df['year']>1990 ] #for boolean operation we need ()

TypeError: cannot compare a dtyped [int64] array with a scalar of type [bool]

In [35]:
df.loc[(df['country'] == "Zimbabwe") & (df['year']>1990),['pop','continent']] #for or we can use |

           pop continent
1700  10704340    Africa
1701  11404948    Africa
1702  11926563    Africa
1703  12311143    Africa

In [36]:
df.loc[(df.country == "Zimbabwe") & (df.year >1990),['pop','continent']] #never use this 
#as some time  column name can be also part of other part of dataframe

           pop continent
1700  10704340    Africa
1701  11404948    Africa
1702  11926563    Africa
1703  12311143    Africa

In [37]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [38]:
df.groupby(['year'])

In [39]:
df.groupby(['year'])['lifeExp'].mean() #it is series type . same as numpy

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [40]:
type(df.groupby(['year'])['lifeExp'])

pandas.core.groupby.generic.SeriesGroupBy

In [41]:
import numpy as np

In [42]:
df.groupby(['year'])['lifeExp'].agg(np.mean) #agg is stands for aggregate()
#note that we are using np.mean not np.mean(array)  as we want to run function

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [43]:
df.groupby(['year'])['lifeExp'].agg(np.std)

year
1952    12.225956
1957    12.231286
1962    12.097245
1967    11.718858
1972    11.381953
1977    11.227229
1982    10.770618
1987    10.556285
1992    11.227380
1997    11.559439
2002    12.279823
2007    12.073021
Name: lifeExp, dtype: float64

In [44]:
df.groupby(['year'])['pop'].agg(np.mean)

year
1952    1.695040e+07
1957    1.876341e+07
1962    2.042101e+07
1967    2.265830e+07
1972    2.518998e+07
1977    2.767638e+07
1982    3.020730e+07
1987    3.303857e+07
1992    3.599092e+07
1997    3.883947e+07
2002    4.145759e+07
2007    4.402122e+07
Name: pop, dtype: float64

In [45]:
df.groupby(['year','continent'])[['lifeExp','gdpPercap','pop']].agg([np.mean,np.std])

                  lifeExp                gdpPercap                \
                     mean        std          mean           std
year continent
1952 Africa     39.135500   5.151581   1252.572466    982.952116
     Americas   53.279840   9.326082   4079.062552   3001.727522
     Asia       46.314394   9.291751   5195.484004  18634.890865
     Europe     64.408500   6.361088   5661.057435   3114.060493
     Oceania    69.255000   0.190919  10298.085650    365.560078
1957 Africa     41.266346   5.620123   1385.236062   1134.508918
     Americas   55.960280   9.033192   4616.043733   3312.381083
     Asia       49.318544   9.635429   5787.732940  19506.515959
     Europe     66.703067   5.295805   6963.012816   3677.950146
     Oceania    70.295000   0.049497  11598.522455    917.644806
1962 Africa     43.319442   5.875364   1598.078825   1461.839189
     Americas   58.398760   8.503544   4901.541870   3421.740569
     Asia       51.563223   9.820632   5729.369625  16415.857196
     Europe     68.539233   4.302500   8365.486814   4199.193906
     Oceania    71.085000   0.219203  12696.452430    677.727301
1967 Africa     45.334538   6.082673   2050.363801   2847.717603
     Americas   60.410920   7.909171   5668.253496   4160.885560
     Asia       54.663640   9.650965   5971.173374  14062.591362
     Europe     69.737600   3.799728  10143.823757   4724.983889
     Oceania    71.310000   0.296985  14495.021790     43.986086
1972 Africa     47.450942   6.416258   2339.615674   3286.853884
     Americas   62.394920   7.323017   6491.334139   4754.404329
     Asia       57.319269   9.722700   8187.468699  19087.502918
     Europe     70.775033   3.240576  12479.575246   5509.691411
     Oceania    71.910000   0.028284  16417.333380    525.091980
1977 Africa     49.580423   6.808197   2585.938508   4142.398707
     Americas   64.391560   7.069496   7352.007126   5355.602518
     Asia       59.610556  10.022197   7791.314020  11815.777923
     Europe     71.937767   3.121030  14283.979110   5874.464896
     Oceania    72.855000   0.898026  17283.957605   1485.263517
1982 Africa     51.592865   7.375940   2481.592960   3242.632753
     Americas   66.228840   6.720834   7506.737088   5530.490471
     Asia       62.617939   8.535221   7434.135157   8701.176499
     Europe     72.806400   3.218260  15617.896551   6453.234827
     Oceania    74.290000   0.636396  18554.709840   1304.328377
1987 Africa     53.344788   7.864089   2282.668991   2566.531947
     Americas   68.090720   5.801929   7793.400261   6665.039509
     Asia       64.851182   8.203792   7608.226508   8090.262765
     Europe     73.642167   3.169680  17214.310727   7482.957960
     Oceania    75.320000   1.414214  20448.040160   2037.668013
1992 Africa     53.629577   9.461071   2281.810333   2644.075602
     Americas   69.568360   5.167104   8044.934406   7047.089191
     Asia       66.537212   8.075549   8639.690248   9727.431088
     Europe     74.440100   3.209781  17061.568084   9109.804361
     Oceania    76.945000   0.869741  20894.045885   3578.979883
1997 Africa     53.598269   9.103387   2378.759555   2820.728117
     Americas   71.150480   4.887584   8889.300863   7874.225145
     Asia       68.020515   8.091171   9834.093295  11094.180481
     Europe     75.505167   3.104677  19076.781802  10065.457716
     Oceania    78.190000   0.905097  24024.175170   4205.533703
2002 Africa     53.325231   9.586496   2599.385159   2972.651308
     Americas   72.422040   4.799705   9287.677107   8895.817785
     Asia       69.233879   8.374595  10174.090397  11150.719203
     Europe     76.700600   2.922180  21711.732422  11197.355517
     Oceania    79.740000   0.890955  26938.778040   5301.853680
2007 Africa     54.806038   9.630781   3089.032605   3618.163491
     Americas   73.608120   4.440948  11003.031625   9713.209302
     Asia       70.728485   7.963724  12473.026870  14154.937343
     Europe     77.648600   2.979813  25054.481636  11800.339811
     Oceania    80.719500   0.729027  29810.188275   6540.991104

                         pop
                        mean           std
year continent
1952 Africa     4.570010e+06  6.317450e+06
     Americas   1.380610e+07  3.234163e+07
     Asia       4.228356e+07  1.132267e+08
     Europe     1.393736e+07  1.724745e+07
     Oceania    5.343003e+06  4.735083e+06
1957 Africa     5.093033e+06  7.076042e+06
     Americas   1.547816e+07  3.553706e+07
     Asia       4.735699e+07  1.280961e+08
     Europe     1.459635e+07  1.783235e+07
     Oceania    5.970988e+06  5.291395e+06
1962 Africa     5.702247e+06  7.957545e+06
     Americas   1.733081e+07  3.887683e+07
     Asia       5.140476e+07  1.361027e+08
     Europe     1.534517e+07  1.865642e+07
     Oceania    6.641759e+06  5.873524e+06
1967 Africa     6.447875e+06  8.985505e+06
     Americas   1.922986e+07  4.192559e+07
     Asia       5.774736e+07  1.533418e+08
     Europe     1.603930e+07  1.944359e+07
     Oceania    7.300207e+06  6.465865e+06
1972 Africa     7.305376e+06  1.013083e+07
     Americas   2.117537e+07  4.493546e+07
     Asia       6.518098e+07  1.740949e+08
     Europe     1.668784e+07  2.018034e+07
     Oceania    8.053050e+06  7.246360e+06
1977 Africa     8.328097e+06  1.158518e+07
     Americas   2.312271e+07  4.790406e+07
     Asia       7.225799e+07  1.917074e+08
     Europe     1.723882e+07  2.056054e+07
     Oceania    8.619500e+06  7.713969e+06
1982 Africa     9.602857e+06  1.345624e+07
     Americas   2.521164e+07  5.129438e+07
     Asia       7.909502e+07  2.065415e+08
     Europe     1.770890e+07  2.097129e+07
     Oceania    9.197425e+06  8.466578e+06
1987 Africa     1.105450e+07  1.527748e+07
     Americas   2.731016e+07  5.445969e+07
     Asia       8.700669e+07  2.257332e+08
     Europe     1.810314e+07  2.136971e+07
     Oceania    9.787208e+06  9.150020e+06
1992 Africa     1.267464e+07  1.756272e+07
     Americas   2.957096e+07  5.810922e+07
     Asia       9.494825e+07  2.449604e+08
     Europe     1.860476e+07  2.212674e+07
     Oceania    1.045983e+07  9.930822e+06
1997 Africa     1.430448e+07  1.987301e+07
     Americas   3.187602e+07  6.203282e+07
     Asia       1.025238e+08  2.623497e+08
     Europe     1.896480e+07  2.274815e+07
     Oceania    1.112072e+07  1.052815e+07
2002 Africa     1.603315e+07  2.230300e+07
     Americas   3.399091e+07  6.560155e+07
     Asia       1.091455e+08  2.767017e+08
     Europe     1.927413e+07  2.322369e+07
     Oceania    1.172741e+07  1.105827e+07
2007 Africa     1.787576e+07  2.491773e+07
     Americas   3.595485e+07  6.883378e+07
     Asia       1.155138e+08  2.896734e+08
     Europe     1.953662e+07  2.362474e+07
     Oceania    1.227497e+07  1.153885e+07

In [46]:
grouped =df.groupby(['year','continent'])[['lifeExp','gdpPercap','pop']].agg(np.mean)
grouped.index

MultiIndex(levels=[[1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002, 2007], ['Africa', 'Americas', 'Asia', 'Europe', 'Oceania']],
           codes=[[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11], [0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]],
           names=['year', 'continent'])

In [49]:
grp_rst =grouped.reset_index()
grp_rst

    year continent    lifeExp     gdpPercap           pop
0   1952    Africa  39.135500   1252.572466  4.570010e+06
1   1952  Americas  53.279840   4079.062552  1.380610e+07
2   1952      Asia  46.314394   5195.484004  4.228356e+07
3   1952    Europe  64.408500   5661.057435  1.393736e+07
4   1952   Oceania  69.255000  10298.085650  5.343003e+06
5   1957    Africa  41.266346   1385.236062  5.093033e+06
6   1957  Americas  55.960280   4616.043733  1.547816e+07
7   1957      Asia  49.318544   5787.732940  4.735699e+07
8   1957    Europe  66.703067   6963.012816  1.459635e+07
9   1957   Oceania  70.295000  11598.522455  5.970988e+06
10  1962    Africa  43.319442   1598.078825  5.702247e+06
11  1962  Americas  58.398760   4901.541870  1.733081e+07
12  1962      Asia  51.563223   5729.369625  5.140476e+07
13  1962    Europe  68.539233   8365.486814  1.534517e+07
14  1962   Oceania  71.085000  12696.452430  6.641759e+06
15  1967    Africa  45.334538   2050.363801  6.447875e+06
16  1967  Americas  60.410920   5668.253496  1.922986e+07
17  1967      Asia  54.663640   5971.173374  5.774736e+07
18  1967    Europe  69.737600  10143.823757  1.603930e+07
19  1967   Oceania  71.310000  14495.021790  7.300207e+06
20  1972    Africa  47.450942   2339.615674  7.305376e+06
21  1972  Americas  62.394920   6491.334139  2.117537e+07
22  1972      Asia  57.319269   8187.468699  6.518098e+07
23  1972    Europe  70.775033  12479.575246  1.668784e+07
24  1972   Oceania  71.910000  16417.333380  8.053050e+06
25  1977    Africa  49.580423   2585.938508  8.328097e+06
26  1977  Americas  64.391560   7352.007126  2.312271e+07
27  1977      Asia  59.610556   7791.314020  7.225799e+07
28  1977    Europe  71.937767  14283.979110  1.723882e+07
29  1977   Oceania  72.855000  17283.957605  8.619500e+06
30  1982    Africa  51.592865   2481.592960  9.602857e+06
31  1982  Americas  66.228840   7506.737088  2.521164e+07
32  1982      Asia  62.617939   7434.135157  7.909502e+07
33  1982    Europe  72.806400  15617.896551  1.770890e+07
34  1982   Oceania  74.290000  18554.709840  9.197425e+06
35  1987    Africa  53.344788   2282.668991  1.105450e+07
36  1987  Americas  68.090720   7793.400261  2.731016e+07
37  1987      Asia  64.851182   7608.226508  8.700669e+07
38  1987    Europe  73.642167  17214.310727  1.810314e+07
39  1987   Oceania  75.320000  20448.040160  9.787208e+06
40  1992    Africa  53.629577   2281.810333  1.267464e+07
41  1992  Americas  69.568360   8044.934406  2.957096e+07
42  1992      Asia  66.537212   8639.690248  9.494825e+07
43  1992    Europe  74.440100  17061.568084  1.860476e+07
44  1992   Oceania  76.945000  20894.045885  1.045983e+07
45  1997    Africa  53.598269   2378.759555  1.430448e+07
46  1997  Americas  71.150480   8889.300863  3.187602e+07
47  1997      Asia  68.020515   9834.093295  1.025238e+08
48  1997    Europe  75.505167  19076.781802  1.896480e+07
49  1997   Oceania  78.190000  24024.175170  1.112072e+07
50  2002    Africa  53.325231   2599.385159  1.603315e+07
51  2002  Americas  72.422040   9287.677107  3.399091e+07
52  2002      Asia  69.233879  10174.090397  1.091455e+08
53  2002    Europe  76.700600  21711.732422  1.927413e+07
54  2002   Oceania  79.740000  26938.778040  1.172741e+07
55  2007    Africa  54.806038   3089.032605  1.787576e+07
56  2007  Americas  73.608120  11003.031625  3.595485e+07
57  2007      Asia  70.728485  12473.026870  1.155138e+08
58  2007    Europe  77.648600  25054.481636  1.953662e+07
59  2007   Oceania  80.719500  29810.188275  1.227497e+07

In [50]:
grp_rst['pop']

0     4.570010e+06
1     1.380610e+07
2     4.228356e+07
3     1.393736e+07
4     5.343003e+06
5     5.093033e+06
6     1.547816e+07
7     4.735699e+07
8     1.459635e+07
9     5.970988e+06
10    5.702247e+06
11    1.733081e+07
12    5.140476e+07
13    1.534517e+07
14    6.641759e+06
15    6.447875e+06
16    1.922986e+07
17    5.774736e+07
18    1.603930e+07
19    7.300207e+06
20    7.305376e+06
21    2.117537e+07
22    6.518098e+07
23    1.668784e+07
24    8.053050e+06
25    8.328097e+06
26    2.312271e+07
27    7.225799e+07
28    1.723882e+07
29    8.619500e+06
30    9.602857e+06
31    2.521164e+07
32    7.909502e+07
33    1.770890e+07
34    9.197425e+06
35    1.105450e+07
36    2.731016e+07
37    8.700669e+07
38    1.810314e+07
39    9.787208e+06
40    1.267464e+07
41    2.957096e+07
42    9.494825e+07
43    1.860476e+07
44    1.045983e+07
45    1.430448e+07
46    3.187602e+07
47    1.025238e+08
48    1.896480e+07
49    1.112072e+07
50    1.603315e+07
51    3.399091e+07
52    1.091455e+08
53    1.927413e+07
54    1.172741e+07
55    1.787576e+07
56    3.595485e+07
57    1.155138e+08
58    1.953662e+07
59    1.227497e+07
Name: pop, dtype: float64

In [51]:
pd.isna(grp_rst.lifeExp)  #isna to check if NaN value is present somewhere

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
Name: lifeExp, dtype: bool

Another dataframe

In [52]:
pew = pd.read_csv("../data/pew.csv")
pew.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [53]:
pew.melt(id_vars=['religion'])

                    religion            variable  value
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [56]:
pew_tidy= pew.melt(id_vars=['religion'],var_name='income',value_name='count')
pew_tidy

                    religion              income  count
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [58]:
pew_tidy.groupby(['income'])['count'].sum()

income
$10-20k               2781
$100-150k             3197
$20-30k               3357
$30-40k               3302
$40-50k               3085
$50-75k               5185
$75-100k              3990
<$10k                 1930
>150k                 2608
Don't know/refused    6121
Name: count, dtype: int64

In [60]:
pew_tidy.groupby(['income'])['count'].agg(np.sum).reset_index()

               income  count
0             $10-20k   2781
1           $100-150k   3197
2             $20-30k   3357
3             $30-40k   3302
4             $40-50k   3085
5             $50-75k   5185
6            $75-100k   3990
7               <$10k   1930
8               >150k   2608
9  Don't know/refused   6121

Another dataframe

In [64]:
billboard = pd.read_csv("../data/billboard.csv")
billboard

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,98^0,Give Me Just One Nig...,3:24,2000-08-19,51,39.0,34.0,26.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,A*Teens,Dancing Queen,3:44,2000-07-08,97,97.0,96.0,95.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,Aaliyah,I Don't Wanna,4:15,2000-01-29,84,62.0,51.0,41.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Aaliyah,Try Again,4:03,2000-03-18,59,53.0,38.0,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,"Adams, Yolanda",Open My Heart,5:30,2000-08-26,76,76.0,74.0,69.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,"Adkins, Trace",More,3:05,2000-04-29,84,84.0,75.0,73.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,"Aguilera, Christina",Come On Over Baby (A...,3:38,2000-08-05,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2000,"Aguilera, Christina",I Turn To You,4:00,2000-04-15,50,39.0,30.0,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2000,"Aguilera, Christina",What A Girl Wants,3:18,1999-11-27,71,51.0,28.0,18.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000,Alice Deejay,Better Off Alone,6:50,2000-04-08,79,65.0,53.0,48.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,"Allan, Gary",Smoke Rings In The D...,4:18,2000-01-22,80,78.0,76.0,77.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2000,Amber,Sexual,4:38,1999-07-17,99,99.0,96.0,96.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2000,Anastacia,I'm Outta Love,4:01,2000-04-01,92,NaN,NaN,95.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,"Anthony, Marc",My Baby You,3:59,2000-09-16,82,76.0,76.0,70.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2000,"Anthony, Marc",You Sang To Me,3:50,2000-02-26,77,54.0,50.0,43.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2000,Avant,My First Love,4:28,2000-11-04,70,62.0,56.0,43.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2000,Avant,Separated,4:13,2000-04-29,62,32.0,30.0,23.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2000,BBMak,Back Here,3:35,2000-04-29,99,86.0,60.0,52.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2000,"Backstreet Boys, The",Shape Of My Heart,3:49,2000-10-14,39,25.0,24.0,15.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2000,"Backstreet Boys, The",Show Me The Meaning ...,3:54,2000-01-01,74,62.0,55.0,25.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2000,"Backstreet Boys, The",The One,3:46,2000-05-27,58,50.0,43.0,37.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2000,"Badu, Erkyah",Bag Lady,5:03,2000-08-19,67,53.0,42.0,41.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2000,Baha Men,Who Let The Dogs Out,3:17,2000-07-22,99,92.0,85.0,76.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2000,Barenaked Ladies,Pinch Me,3:46,2000-09-09,77,76.0,69.0,45.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2000,Beenie Man,Girls Dem Sugar,4:17,2000-10-21,72,72.0,63.0,56.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2000,"Thomas, Carl",Emotional,4:31,2000-11-25,77,63.0,61.0,58.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,2000,"Thomas, Carl",I Wish,3:50,2000-03-25,75,64.0,48.0,39.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,2000,"Thomas, Carl",Summer Rain,4:57,2000-09-23,82,82.0,86.0,80.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,2000,"Tippin, Aaron",Kiss This,2:53,2000-08-26,74,72.0,66.0,53.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,2000,Train,Meet Virginia,3:55,1999-10-09,76,67.0,59.0,54.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,2000,Trick Daddy,Shut Up,4:17,2000-05-20,99,95.0,87.0,87.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,2000,Trina,Pull Over,2:58,2000-09-09,97,93.0,96.0,100.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,2000,"Tritt, Travis",Best Of Intentions,4:15,2000-08-19,97,86.0,79.0,70.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,2000,Tuesday,I Know,4:06,2000-12-30,98,98.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,2000,"Urban, Keith",Your Everything,4:10,2000-07-15,81,80.0,73.0,73.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,2000,Usher,Pop Ya Collar,3:36,2000-11-04,68,64.0,60.0,60.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,2000,"Vassar, Phil",Carlene,4:07,2000-03-04,75,67.0,64.0,64.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,2000,"Vassar, Phil",Just Another Day In ...,3:54,2000-09-30,81,81.0,76.0,67.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,2000,Vertical Horizon,Everything You Want,4:01,2000-01-22,70,61.0,53.0,46.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,2000,Vertical Horizon,You're A God,3:45,2000-08-26,64,55.0,43.0,41.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,2000,Vitamin C,Graduation (Friends ...,4:23,2000-04-15,81,64.0,54.0,54.0,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2000,Vitamin C,The Itch,3:30,2000-12-02,86,48.0,45.0,52.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,2000,"Walker, Clay","Live, Laugh, Love",4:06,1999-12-04,95,95.0,94.0,94.0,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,2000,"Walker, Clay",The Chain Of Love,5:03,2000-04-15,73,65.0,57.0,57.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,2000,"Wallflowers, The",Sleepwalker,3:29,2000-10-28,73,73.0,74.0,80.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,2000,Westlife,Swear It Again,4:07,2000-04-01,96,82.0,66.0,55.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,2000,"Williams, Robbie",Angels,3:56,1999-11-20,85,77.0,69.0,69.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2000,"Wills, Mark",Back At One,4:00,2000-01-15,89,55.0,51.0,43.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,2000,"Worley, Darryl",When You Need My Lov...,3:35,2000-06-17,98,88.0,93.0,92.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,2000,"Wright, Chely",It Was,3:51,2000-03-04,86,78.0,75.0,72.0,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,86,83.0,77.0,74.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,85,83.0,83.0,82.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,95,94.0,91.0,85.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,matchbox twenty,Bent,4:12,2000-04-29,60,37.0,29.0,24.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
bill_tiny = billboard.melt(id_vars=['year','artist','track','time','date.entered'],value_name='rank',var_name='week')
bill_tiny

,year,artist,track,time,date.entered,week,rank
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
5,2000,98^0,Give Me Just One Nig...,3:24,2000-08-19,wk1,51.0
6,2000,A*Teens,Dancing Queen,3:44,2000-07-08,wk1,97.0
7,2000,Aaliyah,I Don't Wanna,4:15,2000-01-29,wk1,84.0
8,2000,Aaliyah,Try Again,4:03,2000-03-18,wk1,59.0
9,2000,"Adams, Yolanda",Open My Heart,5:30,2000-08-26,wk1,76.0
10,2000,"Adkins, Trace",More,3:05,2000-04-29,wk1,84.0
11,2000,"Aguilera, Christina",Come On Over Baby (A...,3:38,2000-08-05,wk1,57.0
12,2000,"Aguilera, Christina",I Turn To You,4:00,2000-04-15,wk1,50.0
13,2000,"Aguilera, Christina",What A Girl Wants,3:18,1999-11-27,wk1,71.0
14,2000,Alice Deejay,Better Off Alone,6:50,2000-04-08,wk1,79.0
15,2000,"Allan, Gary",Smoke Rings In The D...,4:18,2000-01-22,wk1,80.0
16,2000,Amber,Sexual,4:38,1999-07-17,wk1,99.0
17,2000,Anastacia,I'm Outta Love,4:01,2000-04-01,wk1,92.0
18,2000,"Anthony, Marc",My Baby You,3:59,2000-09-16,wk1,82.0
19,2000,"Anthony, Marc",You Sang To Me,3:50,2000-02-26,wk1,77.0
20,2000,Avant,My First Love,4:28,2000-11-04,wk1,70.0
21,2000,Avant,Separated,4:13,2000-04-29,wk1,62.0
22,2000,BBMak,Back Here,3:35,2000-04-29,wk1,99.0
23,2000,"Backstreet Boys, The",Shape Of My Heart,3:49,2000-10-14,wk1,39.0
24,2000,"Backstreet Boys, The",Show Me The Meaning ...,3:54,2000-01-01,wk1,74.0
25,2000,"Backstreet Boys, The",The One,3:46,2000-05-27,wk1,58.0
26,2000,"Badu, Erkyah",Bag Lady,5:03,2000-08-19,wk1,67.0
27,2000,Baha Men,Who Let The Dogs Out,3:17,2000-07-22,wk1,99.0
28,2000,Barenaked Ladies,Pinch Me,3:46,2000-09-09,wk1,77.0
29,2000,Beenie Man,Girls Dem Sugar,4:17,2000-10-21,wk1,72.0
...,...,...,...,...,...,...,...
24062,2000,"Thomas, Carl",Emotional,4:31,2000-11-25,wk76,NaN
24063,2000,"Thomas, Carl",I Wish,3:50,2000-03-25,wk76,NaN
24064,2000,"Thomas, Carl",Summer Rain,4:57,2000-09-23,wk76,NaN
24065,2000,"Tippin, Aaron",Kiss This,2:53,2000-08-26,wk76,NaN
24066,2000,Train,Meet Virginia,3:55,1999-10-09,wk76,NaN
24067,2000,Trick Daddy,Shut Up,4:17,2000-05-20,wk76,NaN
24068,2000,Trina,Pull Over,2:58,2000-09-09,wk76,NaN
24069,2000,"Tritt, Travis",Best Of Intentions,4:15,2000-08-19,wk76,NaN
24070,2000,Tuesday,I Know,4:06,2000-12-30,wk76,NaN
24071,2000,"Urban, Keith",Your Everything,4:10,2000-07-15,wk76,NaN
24072,2000,Usher,Pop Ya Collar,3:36,2000-11-04,wk76,NaN
24073,2000,"Vassar, Phil",Carlene,4:07,2000-03-04,wk76,NaN
24074,2000,"Vassar, Phil",Just Another Day In ...,3:54,2000-09-30,wk76,NaN
24075,2000,Vertical Horizon,Everything You Want,4:01,2000-01-22,wk76,NaN
24076,2000,Vertical Horizon,You're A God,3:45,2000-08-26,wk76,NaN
24077,2000,Vitamin C,Graduation (Friends ...,4:23,2000-04-15,wk76,NaN
24078,2000,Vitamin C,The Itch,3:30,2000-12-02,wk76,NaN
24079,2000,"Walker, Clay","Live, Laugh, Love",4:06,1999-12-04,wk76,NaN
24080,2000,"Walker, Clay",The Chain Of Love,5:03,2000-04-15,wk76,NaN
24081,2000,"Wallflowers, The",Sleepwalker,3:29,2000-10-28,wk76,NaN
24082,2000,Westlife,Swear It Again,4:07,2000-04-01,wk76,NaN
24083,2000,"Williams, Robbie",Angels,3:56,1999-11-20,wk76,NaN
24084,2000,"Wills, Mark",Back At One,4:00,2000-01-15,wk76,NaN
24085,2000,"Worley, Darryl",When You Need My Lov...,3:35,2000-06-17,wk76,NaN
24086,2000,"Wright, Chely",It Was,3:51,2000-03-04,wk76,NaN
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,NaN
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,NaN
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,NaN
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,NaN
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,NaN

In [68]:
bill_tiny.groupby(['artist'])['rank'].mean().reset_index()

                   artist       rank
0                   2 Pac  85.428571
1                 2Ge+her  90.000000
2            3 Doors Down  37.602740
3                504 Boyz  56.222222
4                    98^0  37.650000
5                 A*Teens  97.000000
6                 Aaliyah  30.269231
7          Adams, Yolanda  67.750000
8           Adkins, Trace  76.272727
9     Aguilera, Christina  21.089552
10           Alice Deejay  51.250000
11            Allan, Gary  80.600000
12                  Amber  80.275862
13              Anastacia  94.666667
14          Anthony, Marc  46.000000
15                  Avant  40.100000
16                  BBMak  30.645161
17   Backstreet Boys, The  34.474576
18           Badu, Erkyah  32.350000
19               Baha Men  62.500000
20       Barenaked Ladies  33.952381
21             Beenie Man  72.400000
22            Before Dark  87.555556
23              Bega, Lou  78.666667
24           Big Punisher  85.533333
25              Black Rob  62.941176
26           Black, Clint  65.000000
27                 Blaque  21.586207
28         Blige, Mary J.  78.250000
29              Blink-182  33.304348
..                    ...        ...
198        Strait, George  52.700000
199             Sugar Ray  58.450000
200                   TLC  63.285714
201                 Tamar  93.666667
202                 Tamia  89.000000
203       Third Eye Blind  44.911765
204          Thomas, Carl  58.627451
205         Tippin, Aaron  66.950000
206                 Train  36.925926
207           Trick Daddy  90.090909
208                 Trina  96.500000
209         Tritt, Travis  47.818182
210               Tuesday  98.000000
211          Urban, Keith  72.000000
212                 Usher  69.428571
213          Vassar, Phil  61.589744
214      Vertical Horizon  26.709677
215             Vitamin C  60.000000
216          Walker, Clay  72.967742
217      Wallflowers, The  81.000000
218              Westlife  43.350000
219      Williams, Robbie  75.421053
220           Wills, Mark  59.833333
221        Worley, Darryl  85.533333
222         Wright, Chely  77.300000
223           Yankee Grey  83.125000
224      Yearwood, Trisha  84.166667
225       Ying Yang Twins  88.857143
226         Zombie Nation  99.000000
227       matchbox twenty  18.641026

[228 rows x 2 columns]

Another dataframe

In [71]:
ebola = pd.read_csv("../data/country_timeseries.csv")
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [74]:
#here we can see there is two var_name = case and death
elb_tiny =ebola.melt(id_vars=['Date','Day'],var_name = 'cd_country',value_name='count')
elb_tiny

            Date  Day    cd_country   count
0       1/5/2015  289  Cases_Guinea  2776.0
1       1/4/2015  288  Cases_Guinea  2775.0
2       1/3/2015  287  Cases_Guinea  2769.0
3       1/2/2015  286  Cases_Guinea     NaN
4     12/31/2014  284  Cases_Guinea  2730.0
5     12/28/2014  281  Cases_Guinea  2706.0
6     12/27/2014  280  Cases_Guinea  2695.0
7     12/24/2014  277  Cases_Guinea  2630.0
8     12/21/2014  273  Cases_Guinea  2597.0
9     12/20/2014  272  Cases_Guinea  2571.0
10    12/18/2014  271  Cases_Guinea     NaN
11    12/14/2014  267  Cases_Guinea  2416.0
12     12/9/2014  262  Cases_Guinea     NaN
13     12/7/2014  260  Cases_Guinea  2292.0
14     12/3/2014  256  Cases_Guinea     NaN
15    11/30/2014  253  Cases_Guinea  2164.0
16    11/28/2014  251  Cases_Guinea     NaN
17    11/23/2014  246  Cases_Guinea  2134.0
18    11/22/2014  245  Cases_Guinea     NaN
19    11/18/2014  241  Cases_Guinea  2047.0
20    11/16/2014  239  Cases_Guinea  1971.0
21    11/15/2014  238  Cases_Guinea     NaN
22    11/11/2014  234  Cases_Guinea  1919.0
23    11/10/2014  233  Cases_Guinea     NaN
24     11/9/2014  232  Cases_Guinea  1878.0
25     11/8/2014  231  Cases_Guinea     NaN
26     11/4/2014  227  Cases_Guinea     NaN
27     11/3/2014  226  Cases_Guinea  1760.0
28     11/2/2014  225  Cases_Guinea  1731.0
29    10/31/2014  222  Cases_Guinea     NaN
...          ...  ...           ...     ...
1922   5/23/2014   62   Deaths_Mali     NaN
1923   5/12/2014   51   Deaths_Mali     NaN
1924   5/10/2014   49   Deaths_Mali     NaN
1925    5/7/2014   46   Deaths_Mali     NaN
1926    5/5/2014   44   Deaths_Mali     NaN
1927    5/3/2014   42   Deaths_Mali     NaN
1928    5/1/2014   40   Deaths_Mali     NaN
1929   4/26/2014   35   Deaths_Mali     NaN
1930   4/24/2014   33   Deaths_Mali     NaN
1931   4/23/2014   32   Deaths_Mali     NaN
1932   4/22/2014   31   Deaths_Mali     NaN
1933   4/21/2014   30   Deaths_Mali     NaN
1934   4/20/2014   29   Deaths_Mali     NaN
1935   4/17/2014   26   Deaths_Mali     NaN
1936   4/16/2014   25   Deaths_Mali     NaN
1937   4/15/2014   24   Deaths_Mali     NaN
1938   4/14/2014   23   Deaths_Mali     NaN
1939   4/11/2014   20   Deaths_Mali     NaN
1940    4/9/2014   18   Deaths_Mali     NaN
1941    4/7/2014   16   Deaths_Mali     NaN
1942    4/4/2014   13   Deaths_Mali     NaN
1943    4/1/2014   10   Deaths_Mali     NaN
1944   3/31/2014    9   Deaths_Mali     NaN
1945   3/29/2014    7   Deaths_Mali     NaN
1946   3/28/2014    6   Deaths_Mali     NaN
1947   3/27/2014    5   Deaths_Mali     NaN
1948   3/26/2014    4   Deaths_Mali     NaN
1949   3/25/2014    3   Deaths_Mali     NaN
1950   3/24/2014    2   Deaths_Mali     NaN
1951   3/22/2014    0   Deaths_Mali     NaN

[1952 rows x 4 columns]

In [76]:
var_split = elb_tiny['cd_country'].str.split('_')
var_split

0       [Cases, Guinea]
1       [Cases, Guinea]
2       [Cases, Guinea]
3       [Cases, Guinea]
4       [Cases, Guinea]
5       [Cases, Guinea]
6       [Cases, Guinea]
7       [Cases, Guinea]
8       [Cases, Guinea]
9       [Cases, Guinea]
10      [Cases, Guinea]
11      [Cases, Guinea]
12      [Cases, Guinea]
13      [Cases, Guinea]
14      [Cases, Guinea]
15      [Cases, Guinea]
16      [Cases, Guinea]
17      [Cases, Guinea]
18      [Cases, Guinea]
19      [Cases, Guinea]
20      [Cases, Guinea]
21      [Cases, Guinea]
22      [Cases, Guinea]
23      [Cases, Guinea]
24      [Cases, Guinea]
25      [Cases, Guinea]
26      [Cases, Guinea]
27      [Cases, Guinea]
28      [Cases, Guinea]
29      [Cases, Guinea]
             ...
1922     [Deaths, Mali]
1923     [Deaths, Mali]
1924     [Deaths, Mali]
1925     [Deaths, Mali]
1926     [Deaths, Mali]
1927     [Deaths, Mali]
1928     [Deaths, Mali]
1929     [Deaths, Mali]
1930     [Deaths, Mali]
1931     [Deaths, Mali]
1932     [Deaths, Mali]
1933     [Deaths, Mali]
1934     [Deaths, Mali]
1935     [Deaths, Mali]
1936     [Deaths, Mali]
1937     [Deaths, Mali]
1938     [Deaths, Mali]
1939     [Deaths, Mali]
1940     [Deaths, Mali]
1941     [Deaths, Mali]
1942     [Deaths, Mali]
1943     [Deaths, Mali]
1944     [Deaths, Mali]
1945     [Deaths, Mali]
1946     [Deaths, Mali]
1947     [Deaths, Mali]
1948     [Deaths, Mali]
1949     [Deaths, Mali]
1950     [Deaths, Mali]
1951     [Deaths, Mali]
Name: cd_country, Length: 1952, dtype: object

In [77]:
type(var_split.iloc[0])

list

In [79]:
case_death = var_split.str.get(0)
case_death

0        Cases
1        Cases
2        Cases
3        Cases
4        Cases
5        Cases
6        Cases
7        Cases
8        Cases
9        Cases
10       Cases
11       Cases
12       Cases
13       Cases
14       Cases
15       Cases
16       Cases
17       Cases
18       Cases
19       Cases
20       Cases
21       Cases
22       Cases
23       Cases
24       Cases
25       Cases
26       Cases
27       Cases
28       Cases
29       Cases
         ...
1922    Deaths
1923    Deaths
1924    Deaths
1925    Deaths
1926    Deaths
1927    Deaths
1928    Deaths
1929    Deaths
1930    Deaths
1931    Deaths
1932    Deaths
1933    Deaths
1934    Deaths
1935    Deaths
1936    Deaths
1937    Deaths
1938    Deaths
1939    Deaths
1940    Deaths
1941    Deaths
1942    Deaths
1943    Deaths
1944    Deaths
1945    Deaths
1946    Deaths
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: cd_country, Length: 1952, dtype: object

In [82]:
country = var_split.str[1]
country

0       Guinea
1       Guinea
2       Guinea
3       Guinea
4       Guinea
5       Guinea
6       Guinea
7       Guinea
8       Guinea
9       Guinea
10      Guinea
11      Guinea
12      Guinea
13      Guinea
14      Guinea
15      Guinea
16      Guinea
17      Guinea
18      Guinea
19      Guinea
20      Guinea
21      Guinea
22      Guinea
23      Guinea
24      Guinea
25      Guinea
26      Guinea
27      Guinea
28      Guinea
29      Guinea
         ...
1922      Mali
1923      Mali
1924      Mali
1925      Mali
1926      Mali
1927      Mali
1928      Mali
1929      Mali
1930      Mali
1931      Mali
1932      Mali
1933      Mali
1934      Mali
1935      Mali
1936      Mali
1937      Mali
1938      Mali
1939      Mali
1940      Mali
1941      Mali
1942      Mali
1943      Mali
1944      Mali
1945      Mali
1946      Mali
1947      Mali
1948      Mali
1949      Mali
1950      Mali
1951      Mali
Name: cd_country, Length: 1952, dtype: object

In [83]:
elb_tiny['status'] = case_death
elb_tiny['country'] = country
elb_tiny

            Date  Day    cd_country   count  status country
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea
5     12/28/2014  281  Cases_Guinea  2706.0   Cases  Guinea
6     12/27/2014  280  Cases_Guinea  2695.0   Cases  Guinea
7     12/24/2014  277  Cases_Guinea  2630.0   Cases  Guinea
8     12/21/2014  273  Cases_Guinea  2597.0   Cases  Guinea
9     12/20/2014  272  Cases_Guinea  2571.0   Cases  Guinea
10    12/18/2014  271  Cases_Guinea     NaN   Cases  Guinea
11    12/14/2014  267  Cases_Guinea  2416.0   Cases  Guinea
12     12/9/2014  262  Cases_Guinea     NaN   Cases  Guinea
13     12/7/2014  260  Cases_Guinea  2292.0   Cases  Guinea
14     12/3/2014  256  Cases_Guinea     NaN   Cases  Guinea
15    11/30/2014  253  Cases_Guinea  2164.0   Cases  Guinea
16    11/28/2014  251  Cases_Guinea     NaN   Cases  Guinea
17    11/23/2014  246  Cases_Guinea  2134.0   Cases  Guinea
18    11/22/2014  245  Cases_Guinea     NaN   Cases  Guinea
19    11/18/2014  241  Cases_Guinea  2047.0   Cases  Guinea
20    11/16/2014  239  Cases_Guinea  1971.0   Cases  Guinea
21    11/15/2014  238  Cases_Guinea     NaN   Cases  Guinea
22    11/11/2014  234  Cases_Guinea  1919.0   Cases  Guinea
23    11/10/2014  233  Cases_Guinea     NaN   Cases  Guinea
24     11/9/2014  232  Cases_Guinea  1878.0   Cases  Guinea
25     11/8/2014  231  Cases_Guinea     NaN   Cases  Guinea
26     11/4/2014  227  Cases_Guinea     NaN   Cases  Guinea
27     11/3/2014  226  Cases_Guinea  1760.0   Cases  Guinea
28     11/2/2014  225  Cases_Guinea  1731.0   Cases  Guinea
29    10/31/2014  222  Cases_Guinea     NaN   Cases  Guinea
...          ...  ...           ...     ...     ...     ...
1922   5/23/2014   62   Deaths_Mali     NaN  Deaths    Mali
1923   5/12/2014   51   Deaths_Mali     NaN  Deaths    Mali
1924   5/10/2014   49   Deaths_Mali     NaN  Deaths    Mali
1925    5/7/2014   46   Deaths_Mali     NaN  Deaths    Mali
1926    5/5/2014   44   Deaths_Mali     NaN  Deaths    Mali
1927    5/3/2014   42   Deaths_Mali     NaN  Deaths    Mali
1928    5/1/2014   40   Deaths_Mali     NaN  Deaths    Mali
1929   4/26/2014   35   Deaths_Mali     NaN  Deaths    Mali
1930   4/24/2014   33   Deaths_Mali     NaN  Deaths    Mali
1931   4/23/2014   32   Deaths_Mali     NaN  Deaths    Mali
1932   4/22/2014   31   Deaths_Mali     NaN  Deaths    Mali
1933   4/21/2014   30   Deaths_Mali     NaN  Deaths    Mali
1934   4/20/2014   29   Deaths_Mali     NaN  Deaths    Mali
1935   4/17/2014   26   Deaths_Mali     NaN  Deaths    Mali
1936   4/16/2014   25   Deaths_Mali     NaN  Deaths    Mali
1937   4/15/2014   24   Deaths_Mali     NaN  Deaths    Mali
1938   4/14/2014   23   Deaths_Mali     NaN  Deaths    Mali
1939   4/11/2014   20   Deaths_Mali     NaN  Deaths    Mali
1940    4/9/2014   18   Deaths_Mali     NaN  Deaths    Mali
1941    4/7/2014   16   Deaths_Mali     NaN  Deaths    Mali
1942    4/4/2014   13   Deaths_Mali     NaN  Deaths    Mali
1943    4/1/2014   10   Deaths_Mali     NaN  Deaths    Mali
1944   3/31/2014    9   Deaths_Mali     NaN  Deaths    Mali
1945   3/29/2014    7   Deaths_Mali     NaN  Deaths    Mali
1946   3/28/2014    6   Deaths_Mali     NaN  Deaths    Mali
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali

[1952 rows x 6 columns]

In [85]:
x =elb_tiny.drop('cd_country',axis='columns')

In [86]:
x.dropna()

            Date  Day   count  status       country
0       1/5/2015  289  2776.0   Cases        Guinea
1       1/4/2015  288  2775.0   Cases        Guinea
2       1/3/2015  287  2769.0   Cases        Guinea
4     12/31/2014  284  2730.0   Cases        Guinea
5     12/28/2014  281  2706.0   Cases        Guinea
6     12/27/2014  280  2695.0   Cases        Guinea
7     12/24/2014  277  2630.0   Cases        Guinea
8     12/21/2014  273  2597.0   Cases        Guinea
9     12/20/2014  272  2571.0   Cases        Guinea
11    12/14/2014  267  2416.0   Cases        Guinea
13     12/7/2014  260  2292.0   Cases        Guinea
15    11/30/2014  253  2164.0   Cases        Guinea
17    11/23/2014  246  2134.0   Cases        Guinea
19    11/18/2014  241  2047.0   Cases        Guinea
20    11/16/2014  239  1971.0   Cases        Guinea
22    11/11/2014  234  1919.0   Cases        Guinea
24     11/9/2014  232  1878.0   Cases        Guinea
27     11/3/2014  226  1760.0   Cases        Guinea
28     11/2/2014  225  1731.0   Cases        Guinea
30    10/29/2014  220  1667.0   Cases        Guinea
31    10/27/2014  218  1906.0   Cases        Guinea
34    10/21/2014  213  1553.0   Cases        Guinea
35    10/19/2014  211  1540.0   Cases        Guinea
37    10/14/2014  206  1519.0   Cases        Guinea
39    10/12/2014  204  1472.0   Cases        Guinea
42     10/7/2014  199  1350.0   Cases        Guinea
43     10/5/2014  197  1298.0   Cases        Guinea
45     10/1/2014  193  1199.0   Cases        Guinea
46     9/28/2014  190  1157.0   Cases        Guinea
47     9/23/2014  185  1074.0   Cases        Guinea
...          ...  ...     ...     ...           ...
1629   10/5/2014  197     0.0  Deaths  UnitedStates
1631   10/1/2014  193     0.0  Deaths  UnitedStates
1721   12/7/2014  260     0.0  Deaths         Spain
1723  11/30/2014  253     0.0  Deaths         Spain
1725  11/23/2014  246     0.0  Deaths         Spain
1727  11/18/2014  241     0.0  Deaths         Spain
1728  11/16/2014  239     0.0  Deaths         Spain
1730  11/11/2014  234     0.0  Deaths         Spain
1732   11/9/2014  232     0.0  Deaths         Spain
1734   11/4/2014  227     0.0  Deaths         Spain
1736   11/2/2014  225     0.0  Deaths         Spain
1738  10/29/2014  220     0.0  Deaths         Spain
1739  10/27/2014  218     0.0  Deaths         Spain
1741  10/22/2014  214     0.0  Deaths         Spain
1743  10/19/2014  211     0.0  Deaths         Spain
1745  10/14/2014  206     1.0  Deaths         Spain
1747  10/12/2014  204     1.0  Deaths         Spain
1749   10/8/2014  200     1.0  Deaths         Spain
1843   12/7/2014  260     6.0  Deaths          Mali
1845  11/30/2014  253     6.0  Deaths          Mali
1847  11/23/2014  246     6.0  Deaths          Mali
1849  11/18/2014  241     6.0  Deaths          Mali
1850  11/16/2014  239     5.0  Deaths          Mali
1852  11/11/2014  234     3.0  Deaths          Mali
1854   11/9/2014  232     1.0  Deaths          Mali
1856   11/4/2014  227     1.0  Deaths          Mali
1858   11/2/2014  225     1.0  Deaths          Mali
1860  10/29/2014  220     1.0  Deaths          Mali
1861  10/27/2014  218     1.0  Deaths          Mali
1863  10/22/2014  214     1.0  Deaths          Mali

[738 rows x 5 columns]

In [87]:
case = x.loc[x['status']=='Cases']
case

           Date  Day   count status country
0      1/5/2015  289  2776.0  Cases  Guinea
1      1/4/2015  288  2775.0  Cases  Guinea
2      1/3/2015  287  2769.0  Cases  Guinea
3      1/2/2015  286     NaN  Cases  Guinea
4    12/31/2014  284  2730.0  Cases  Guinea
5    12/28/2014  281  2706.0  Cases  Guinea
6    12/27/2014  280  2695.0  Cases  Guinea
7    12/24/2014  277  2630.0  Cases  Guinea
8    12/21/2014  273  2597.0  Cases  Guinea
9    12/20/2014  272  2571.0  Cases  Guinea
10   12/18/2014  271     NaN  Cases  Guinea
11   12/14/2014  267  2416.0  Cases  Guinea
12    12/9/2014  262     NaN  Cases  Guinea
13    12/7/2014  260  2292.0  Cases  Guinea
14    12/3/2014  256     NaN  Cases  Guinea
15   11/30/2014  253  2164.0  Cases  Guinea
16   11/28/2014  251     NaN  Cases  Guinea
17   11/23/2014  246  2134.0  Cases  Guinea
18   11/22/2014  245     NaN  Cases  Guinea
19   11/18/2014  241  2047.0  Cases  Guinea
20   11/16/2014  239  1971.0  Cases  Guinea
21   11/15/2014  238     NaN  Cases  Guinea
22   11/11/2014  234  1919.0  Cases  Guinea
23   11/10/2014  233     NaN  Cases  Guinea
24    11/9/2014  232  1878.0  Cases  Guinea
25    11/8/2014  231     NaN  Cases  Guinea
26    11/4/2014  227     NaN  Cases  Guinea
27    11/3/2014  226  1760.0  Cases  Guinea
28    11/2/2014  225  1731.0  Cases  Guinea
29   10/31/2014  222     NaN  Cases  Guinea
..          ...  ...     ...    ...     ...
946   5/23/2014   62     NaN  Cases    Mali
947   5/12/2014   51     NaN  Cases    Mali
948   5/10/2014   49     NaN  Cases    Mali
949    5/7/2014   46     NaN  Cases    Mali
950    5/5/2014   44     NaN  Cases    Mali
951    5/3/2014   42     NaN  Cases    Mali
952    5/1/2014   40     NaN  Cases    Mali
953   4/26/2014   35     NaN  Cases    Mali
954   4/24/2014   33     NaN  Cases    Mali
955   4/23/2014   32     NaN  Cases    Mali
956   4/22/2014   31     NaN  Cases    Mali
957   4/21/2014   30     NaN  Cases    Mali
958   4/20/2014   29     NaN  Cases    Mali
959   4/17/2014   26     NaN  Cases    Mali
960   4/16/2014   25     NaN  Cases    Mali
961   4/15/2014   24     NaN  Cases    Mali
962   4/14/2014   23     NaN  Cases    Mali
963   4/11/2014   20     NaN  Cases    Mali
964    4/9/2014   18     NaN  Cases    Mali
965    4/7/2014   16     NaN  Cases    Mali
966    4/4/2014   13     NaN  Cases    Mali
967    4/1/2014   10     NaN  Cases    Mali
968   3/31/2014    9     NaN  Cases    Mali
969   3/29/2014    7     NaN  Cases    Mali
970   3/28/2014    6     NaN  Cases    Mali
971   3/27/2014    5     NaN  Cases    Mali
972   3/26/2014    4     NaN  Cases    Mali
973   3/25/2014    3     NaN  Cases    Mali
974   3/24/2014    2     NaN  Cases    Mali
975   3/22/2014    0     NaN  Cases    Mali

[976 rows x 5 columns]

In [88]:
death = x.loc[x['status']=='Deaths']
death

            Date  Day   count  status country
976     1/5/2015  289  1786.0  Deaths  Guinea
977     1/4/2015  288  1781.0  Deaths  Guinea
978     1/3/2015  287  1767.0  Deaths  Guinea
979     1/2/2015  286     NaN  Deaths  Guinea
980   12/31/2014  284  1739.0  Deaths  Guinea
981   12/28/2014  281  1708.0  Deaths  Guinea
982   12/27/2014  280  1697.0  Deaths  Guinea
983   12/24/2014  277     NaN  Deaths  Guinea
984   12/21/2014  273  1607.0  Deaths  Guinea
985   12/20/2014  272  1586.0  Deaths  Guinea
986   12/18/2014  271     NaN  Deaths  Guinea
987   12/14/2014  267  1525.0  Deaths  Guinea
988    12/9/2014  262     NaN  Deaths  Guinea
989    12/7/2014  260  1428.0  Deaths  Guinea
990    12/3/2014  256     NaN  Deaths  Guinea
991   11/30/2014  253  1327.0  Deaths  Guinea
992   11/28/2014  251     NaN  Deaths  Guinea
993   11/23/2014  246  1260.0  Deaths  Guinea
994   11/22/2014  245     NaN  Deaths  Guinea
995   11/18/2014  241  1214.0  Deaths  Guinea
996   11/16/2014  239  1192.0  Deaths  Guinea
997   11/15/2014  238     NaN  Deaths  Guinea
998   11/11/2014  234  1166.0  Deaths  Guinea
999   11/10/2014  233     NaN  Deaths  Guinea
1000   11/9/2014  232  1142.0  Deaths  Guinea
1001   11/8/2014  231     NaN  Deaths  Guinea
1002   11/4/2014  227     NaN  Deaths  Guinea
1003   11/3/2014  226  1054.0  Deaths  Guinea
1004   11/2/2014  225  1041.0  Deaths  Guinea
1005  10/31/2014  222     NaN  Deaths  Guinea
...          ...  ...     ...     ...     ...
1922   5/23/2014   62     NaN  Deaths    Mali
1923   5/12/2014   51     NaN  Deaths    Mali
1924   5/10/2014   49     NaN  Deaths    Mali
1925    5/7/2014   46     NaN  Deaths    Mali
1926    5/5/2014   44     NaN  Deaths    Mali
1927    5/3/2014   42     NaN  Deaths    Mali
1928    5/1/2014   40     NaN  Deaths    Mali
1929   4/26/2014   35     NaN  Deaths    Mali
1930   4/24/2014   33     NaN  Deaths    Mali
1931   4/23/2014   32     NaN  Deaths    Mali
1932   4/22/2014   31     NaN  Deaths    Mali
1933   4/21/2014   30     NaN  Deaths    Mali
1934   4/20/2014   29     NaN  Deaths    Mali
1935   4/17/2014   26     NaN  Deaths    Mali
1936   4/16/2014   25     NaN  Deaths    Mali
1937   4/15/2014   24     NaN  Deaths    Mali
1938   4/14/2014   23     NaN  Deaths    Mali
1939   4/11/2014   20     NaN  Deaths    Mali
1940    4/9/2014   18     NaN  Deaths    Mali
1941    4/7/2014   16     NaN  Deaths    Mali
1942    4/4/2014   13     NaN  Deaths    Mali
1943    4/1/2014   10     NaN  Deaths    Mali
1944   3/31/2014    9     NaN  Deaths    Mali
1945   3/29/2014    7     NaN  Deaths    Mali
1946   3/28/2014    6     NaN  Deaths    Mali
1947   3/27/2014    5     NaN  Deaths    Mali
1948   3/26/2014    4     NaN  Deaths    Mali
1949   3/25/2014    3     NaN  Deaths    Mali
1950   3/24/2014    2     NaN  Deaths    Mali
1951   3/22/2014    0     NaN  Deaths    Mali

[976 rows x 5 columns]

In [89]:
case.head()

         Date  Day   count status country
0    1/5/2015  289  2776.0  Cases  Guinea
1    1/4/2015  288  2775.0  Cases  Guinea
2    1/3/2015  287  2769.0  Cases  Guinea
3    1/2/2015  286     NaN  Cases  Guinea
4  12/31/2014  284  2730.0  Cases  Guinea

In [90]:
z = case.groupby(['country'])['count'].sum()
z

country
Guinea           84729.0
Liberia         193833.0
Mali                42.0
Nigeria            636.0
Senegal             27.0
SierraLeone     211181.0
Spain               16.0
UnitedStates        59.0
Name: count, dtype: float64

Another dataframe

In [106]:
weather = pd.read_csv("../data/weather.csv")
weather.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
we_tiny = weather.melt(id_vars=['id','year','month','element'],var_name='day',value_name='temp')
we_tiny.head()

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

In [95]:
we_tiny.dropna()

          id  year  month element  day  temp
20   MX17004  2010     12    tmax   d1  29.9
21   MX17004  2010     12    tmin   d1  13.8
24   MX17004  2010      2    tmax   d2  27.3
25   MX17004  2010      2    tmin   d2  14.4
40   MX17004  2010     11    tmax   d2  31.3
41   MX17004  2010     11    tmin   d2  16.3
46   MX17004  2010      2    tmax   d3  24.1
47   MX17004  2010      2    tmin   d3  14.4
56   MX17004  2010      7    tmax   d3  28.6
57   MX17004  2010      7    tmin   d3  17.5
84   MX17004  2010     11    tmax   d4  27.2
85   MX17004  2010     11    tmin   d4  12.0
92   MX17004  2010      3    tmax   d5  32.1
93   MX17004  2010      3    tmin   d5  14.2
102  MX17004  2010      8    tmax   d5  29.6
103  MX17004  2010      8    tmin   d5  15.8
104  MX17004  2010     10    tmax   d5  27.0
105  MX17004  2010     10    tmin   d5  14.0
106  MX17004  2010     11    tmax   d5  26.3
107  MX17004  2010     11    tmin   d5   7.9
130  MX17004  2010     12    tmax   d6  27.8
131  MX17004  2010     12    tmin   d6  10.5
148  MX17004  2010     10    tmax   d7  28.1
149  MX17004  2010     10    tmin   d7  12.9
168  MX17004  2010      8    tmax   d8  29.0
169  MX17004  2010      8    tmin   d8  17.3
202  MX17004  2010      3    tmax  d10  34.5
203  MX17004  2010      3    tmin  d10  16.8
222  MX17004  2010      2    tmax  d11  29.7
223  MX17004  2010      2    tmin  d11  13.4
..       ...   ...    ...     ...  ...   ...
324  MX17004  2010     10    tmax  d15  28.7
325  MX17004  2010     10    tmin  d15  10.5
334  MX17004  2010      3    tmax  d16  31.1
335  MX17004  2010      3    tmin  d16  17.6
362  MX17004  2010      6    tmax  d17  28.0
363  MX17004  2010      6    tmin  d17  17.5
486  MX17004  2010      2    tmax  d23  29.9
487  MX17004  2010      2    tmin  d23  10.7
498  MX17004  2010      8    tmax  d23  26.4
499  MX17004  2010      8    tmin  d23  15.0
542  MX17004  2010      8    tmax  d25  29.7
543  MX17004  2010      8    tmin  d25  15.6
568  MX17004  2010     11    tmax  d26  28.1
569  MX17004  2010     11    tmin  d26  12.1
578  MX17004  2010      4    tmax  d27  36.3
579  MX17004  2010      4    tmin  d27  16.7
580  MX17004  2010      5    tmax  d27  33.2
581  MX17004  2010      5    tmin  d27  18.2
590  MX17004  2010     11    tmax  d27  27.7
591  MX17004  2010     11    tmin  d27  14.2
610  MX17004  2010     10    tmax  d28  31.2
611  MX17004  2010     10    tmin  d28  15.0
626  MX17004  2010      6    tmax  d29  30.1
627  MX17004  2010      6    tmin  d29  18.0
630  MX17004  2010      8    tmax  d29  28.0
631  MX17004  2010      8    tmin  d29  15.3
638  MX17004  2010      1    tmax  d30  27.8
639  MX17004  2010      1    tmin  d30  14.5
674  MX17004  2010      8    tmax  d31  25.4
675  MX17004  2010      8    tmin  d31  15.4

[66 rows x 6 columns]

In [99]:
x= we_tiny.pivot_table(index=['id','year','month','day'],columns='element',values='temp').reset_index()
x

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
5        MX17004  2010      3  d10  34.5  16.8
6        MX17004  2010      3  d16  31.1  17.6
7        MX17004  2010      3   d5  32.1  14.2
8        MX17004  2010      4  d27  36.3  16.7
9        MX17004  2010      5  d27  33.2  18.2
10       MX17004  2010      6  d17  28.0  17.5
11       MX17004  2010      6  d29  30.1  18.0
12       MX17004  2010      7   d3  28.6  17.5
13       MX17004  2010      7  d14  29.9  16.5
14       MX17004  2010      8  d23  26.4  15.0
15       MX17004  2010      8   d5  29.6  15.8
16       MX17004  2010      8  d29  28.0  15.3
17       MX17004  2010      8  d13  29.8  16.5
18       MX17004  2010      8  d25  29.7  15.6
19       MX17004  2010      8  d31  25.4  15.4
20       MX17004  2010      8   d8  29.0  17.3
21       MX17004  2010     10   d5  27.0  14.0
22       MX17004  2010     10  d14  29.5  13.0
23       MX17004  2010     10  d15  28.7  10.5
24       MX17004  2010     10  d28  31.2  15.0
25       MX17004  2010     10   d7  28.1  12.9
26       MX17004  2010     11   d2  31.3  16.3
27       MX17004  2010     11   d5  26.3   7.9
28       MX17004  2010     11  d27  27.7  14.2
29       MX17004  2010     11  d26  28.1  12.1
30       MX17004  2010     11   d4  27.2  12.0
31       MX17004  2010     12   d1  29.9  13.8
32       MX17004  2010     12   d6  27.8  10.5

In [100]:
x.sort_values('tmin')

element       id  year  month  day  tmax  tmin
27       MX17004  2010     11   d5  26.3   7.9
32       MX17004  2010     12   d6  27.8  10.5
23       MX17004  2010     10  d15  28.7  10.5
3        MX17004  2010      2  d23  29.9  10.7
30       MX17004  2010     11   d4  27.2  12.0
29       MX17004  2010     11  d26  28.1  12.1
25       MX17004  2010     10   d7  28.1  12.9
22       MX17004  2010     10  d14  29.5  13.0
1        MX17004  2010      2  d11  29.7  13.4
31       MX17004  2010     12   d1  29.9  13.8
21       MX17004  2010     10   d5  27.0  14.0
7        MX17004  2010      3   d5  32.1  14.2
28       MX17004  2010     11  d27  27.7  14.2
2        MX17004  2010      2   d2  27.3  14.4
4        MX17004  2010      2   d3  24.1  14.4
0        MX17004  2010      1  d30  27.8  14.5
14       MX17004  2010      8  d23  26.4  15.0
24       MX17004  2010     10  d28  31.2  15.0
16       MX17004  2010      8  d29  28.0  15.3
19       MX17004  2010      8  d31  25.4  15.4
18       MX17004  2010      8  d25  29.7  15.6
15       MX17004  2010      8   d5  29.6  15.8
26       MX17004  2010     11   d2  31.3  16.3
13       MX17004  2010      7  d14  29.9  16.5
17       MX17004  2010      8  d13  29.8  16.5
8        MX17004  2010      4  d27  36.3  16.7
5        MX17004  2010      3  d10  34.5  16.8
20       MX17004  2010      8   d8  29.0  17.3
12       MX17004  2010      7   d3  28.6  17.5
10       MX17004  2010      6  d17  28.0  17.5
6        MX17004  2010      3  d16  31.1  17.6
11       MX17004  2010      6  d29  30.1  18.0
9        MX17004  2010      5  d27  33.2  18.2

In [102]:
x.sort_values(['year','month','day']) #d30 is not int class type so we it is string class type so we need more processing

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
5        MX17004  2010      3  d10  34.5  16.8
6        MX17004  2010      3  d16  31.1  17.6
7        MX17004  2010      3   d5  32.1  14.2
8        MX17004  2010      4  d27  36.3  16.7
9        MX17004  2010      5  d27  33.2  18.2
10       MX17004  2010      6  d17  28.0  17.5
11       MX17004  2010      6  d29  30.1  18.0
13       MX17004  2010      7  d14  29.9  16.5
12       MX17004  2010      7   d3  28.6  17.5
17       MX17004  2010      8  d13  29.8  16.5
14       MX17004  2010      8  d23  26.4  15.0
18       MX17004  2010      8  d25  29.7  15.6
16       MX17004  2010      8  d29  28.0  15.3
19       MX17004  2010      8  d31  25.4  15.4
15       MX17004  2010      8   d5  29.6  15.8
20       MX17004  2010      8   d8  29.0  17.3
22       MX17004  2010     10  d14  29.5  13.0
23       MX17004  2010     10  d15  28.7  10.5
24       MX17004  2010     10  d28  31.2  15.0
21       MX17004  2010     10   d5  27.0  14.0
25       MX17004  2010     10   d7  28.1  12.9
26       MX17004  2010     11   d2  31.3  16.3
29       MX17004  2010     11  d26  28.1  12.1
28       MX17004  2010     11  d27  27.7  14.2
30       MX17004  2010     11   d4  27.2  12.0
27       MX17004  2010     11   d5  26.3   7.9
31       MX17004  2010     12   d1  29.9  13.8
32       MX17004  2010     12   d6  27.8  10.5

In [107]:
x.to_csv("../data/weather_clean.csv",index=False)